{% extends 'mainPage.html' %}

{% block pageContent %}
<h1 class="greeting"><b>CHAT</b></h1>
<h1 class="greeting"><b>@{{receiver.username}}</b></h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="timeline">
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect("http://127.0.0.1:5000/chat/{{user1}}/{{user2}}");
            socket.on("connect", function(){
                socket.send("{{receiver.username}} has connected!");
            });
            
            socket.on("message", function(msg){
                $("#messages").append('<p>' + msg + '</p>');
                console.log("Message received");
            });

            $('#sendButton').on('click', function(){
                socket.send(""+"{{username1}}"+" : "+$('#myMessage').val());
                $('#myMessage').val('');
            });

        })
    </script>

    <ul id="messages"></ul>
    <input type="text", id="myMessage" style="margin:5px;">
    <button id="sendButton">Send</button>

</div>

{% endblock %}